header
{
    text-align: left;
}

fieldset
{
    margin: 10px auto;
    color: white;
    font-size: 2em;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
}

fieldset p
{
    display: inline;
}

.logo
{
    font-family: "Kunstler Script";
    font-size: 2em;
    color: red;
}

body
{
    background: linear-gradient(to bottom right, black 20%, darkslategray 40%, darkgray 65%, lightgray);
    background-repeat: no-repeat;
    margin: auto;
    overflow: auto;
}

.col
{
    height: 400px;
    padding: 0px;
}

.col-left img
{
    width: 100%;
    height:100%;
    margin: 0px;
}

.col-right
{
    color: darkslategray;
    padding: 10px;
}

.col blockquote
{
    font-size: 1.5em;
    font-weight: normal;
    font-family: "Lucida Handwriting";
    color: white;
}

nav
{
    margin-bottom: 10%;
}

.btn
{
    color: darkslategray;
}

.icon-bar
{
    background: white;
}

.resetpwd
{
    float: right;
}

.signup
{
    width: 60%;
    height: 50%;
    margin: 10px auto;
    margin-top: 10%;
    text-align: center;
}

.signup p
{
    color: white;
}

.signup .btn
{
    float: right;
}

.navbar
{
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

a:hover
{
    color: aqua;
}

.row2
{
    margin: 10px auto;
}

.col2
{
    padding: 0px;
    margin-top: 5%;
}

.col2-left, .col2-middle, .col2-right
{
    background-color: white;
    width: 99%;
    border: 1px solid black;
    text-align: left;
}

.col2-left, .col2-middle
{
    padding: 3%;
    padding-top: 1%;
    opacity: 0.8;
}

.col2-left h1, .col2-middle h1, .col2-right h1
{
    text-align: center;
    text-decoration: underline;
}

.carousel img {
    width: 60%;
    height: 200px;
    max-width: none;
    margin:auto;
}

.item
{
    min-height: 300px;
    max-height: 500px;
    height: 200px;
}

footer
{
    background-color: black;
    text-align: center;
    padding: 5%;
}

footer a
{
    color: lightgray;
    margin: 10%;
}

footer a:hover
{
    color: deepskyblue;
}

.footer-a
{
    color: dimgray;
}

.footer-col1, .footer-col2
{
    height: 100%;
    border-right: 1px solid grey;
}